nav {
    background-color: white;
}
ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

#nav_menu a{
    text-decoration: none;
    color: aliceblue;
}
#nav_menu ul{
padding: .5em 1em;

}
#nav_menu li{
padding: 1em 3.5em;
background-color: blue;
border-color: aliceblue;
margin-right: .1em;

}
aside ol{
    list-style-type: upper-roman;
}
aside ul{
    list-style-type: square;
    flex-direction: column;
}